.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.visitedCountry{
    text-align: left;
}
.flagContainer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.flagContainer img{
    width: 100px;
    height: 60px;
}